:root {
  --primary-color: #3d3d4d;
  --orange: #fd6916;
  --green: #30ee00;
  --bg-color: #e3e3e3;
  --font-overpass: "Overpass", sans-serif;
  --font-inter: "Inter", sans-serif;
}

:root .active {
  --bg-color: var(--primary-color);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-inter);
  overflow: hidden;
}

.container {
  height: 100vh;
  background-color: var(--bg-color);
}

.dark-mode {
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.675rem;
  position: relative;
  top: -60px;
  left: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.dark-mode:hover {
  bottom: 65px;
}

.dark-mode .fa-sun {
  display: none;
}

.dark-mode i {
  color: var(--primary-color);
}

header {
  width: 100%;
  background-color: var(--primary-color);
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: .5s fadein;
          animation: .5s fadein;
}

header h1 {
  color: white;
  font-weight: 400;
  font-size: 2.5rem;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

header h1 span {
  font-weight: 700;
}

header h1 span:nth-child(2) {
  color: var(--orange);
}

.task-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 29.75rem;
}

.task-container .task-input {
  width: 30.375rem;
  height: 2.188rem;
  margin-top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
}

.task-container .task-input input {
  width: 90%;
  height: 100%;
  border: none;
  color: var(--primary-color);
  font-family: var(--font-inter);
  padding-left: 0.625rem;
  border-top-left-radius: 0.313rem;
  border-bottom-left-radius: 0.313rem;
}

.task-container .task-input input:focus {
  outline: none;
  border: 0.063rem solid #f0f0f0;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.task-container .task-input button {
  height: 100%;
  width: 10%;
  border: none;
  background-color: var(--green);
  border-top-right-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.task-container .task-input button:hover {
  background-color: #47ff14;
}

.task-container .task-input button i {
  color: white;
  font-size: 1rem;
}

.task-container .tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20rem;
  width: 30.375rem;
  background-color: white;
  border-radius: 1.2rem;
  overflow: hidden;
}

.task-container .tasks .task-list {
  width: 90%;
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
  overflow: auto;
}

.task-container .tasks .task-list .task-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.063rem solid rgba(0, 0, 0, 0.1);
  width: 90%;
  font-size: 0.875rem;
  height: 2.375rem;
  margin: 0 auto;
}

.task-container .tasks .task-list .task-item .task-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-container .tasks .task-list .task-item .task-content input[type="checkbox"] {
  margin-right: 0.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.task-container .tasks .task-list .task-item .task-content input[type="checkbox"]::before {
  content: "";
  background-color: #e3e3e3;
  width: 0.8rem;
  height: 0.8rem;
}

.task-container .tasks .task-list .task-item .task-content input[type="checkbox"]:checked::before {
  width: 0.8rem;
  height: 0.8rem;
  -webkit-box-shadow: inset 1em 1em var(--primary-color);
          box-shadow: inset 1em 1em var(--primary-color);
  background-color: var(--primary-color);
}

.task-container .tasks .task-list .task-item .task-content input[type="checkbox"]:checked:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--orange);
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  position: relative;
  top: -10px;
}

.task-container .tasks .task-list .task-item .task-content input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: #b5b5c0;
}

.task-container .tasks .task-list .task-item .task-content span {
  font-family: var(--font-overpass);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--primary-color);
  font-size: 0.875rem;
}

.task-container .tasks .task-list .task-item .task-content .update-task {
  font-family: var(--font-overpass);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--primary-color);
  font-size: 0.875rem;
  border: none;
  outline: none;
}

.task-container .tasks .task-list .task-item .task-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-container .tasks .task-list .task-item .task-menu i {
  color: var(--primary-color);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.task-container .tasks .task-list .task-item .task-menu i:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.task-container .tasks .task-list .task-item .task-menu i:nth-child(2) {
  margin-left: 0.5rem;
  color: var(--orange);
}

@media screen and (max-width: 814px) {
  .dark-mode {
    top: 50px;
    left: 48%;
  }
}

@media screen and (max-width: 500px) {
  header {
    width: 32rem;
  }
}

.smooth {
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
}

.fadeIn {
  -webkit-animation: fadein 1.2s;
          animation: fadein 1.2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */